html {
    font-size: 16px;
}

body, a, button {
    font-family: 'Poppins', sans-serif;
}


.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    .row {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .col {
        &.logo {
            img {
                height: 3.4375rem;
            }
        }
        
        &.menu {
            @media screen and (max-width: 980px) {
                display: none;
                position: absolute;
                top: 90px;
                left: 0;
                background-color: #fff;
                width: 100%;
                padding: 20px 0;
            }
            .menu-wrapper {
                display: flex;
                align-items: center;
                @media screen and (max-width: 980px) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 25px;
                    padding: 0 20px;
                }
                .menu-item {
                    position: relative;
                    margin-left: 1.5rem;

                    a {
                        display: flex;
                        text-transform: capitalize;
                        text-decoration: none;
                        font-size: 0.95rem;
                        font-weight: 600;
                        color: #000;
                        ion-icon {
                            margin-left: 6px;
                        }

                        @media screen and (max-width: 1130px) {
                            font-size: 0.85rem;
                        }

                        @media screen and (max-width: 980px) {
                            font-size: 0.95rem;
                        }
                    }
                    .btn {
                        text-transform: capitalize;
                        border: none;
                        background-color: #FFC107;
                        font-weight: 600;
                        color: #fff;
                        padding: 7px 14px;
                        border-radius: 25px;
                        cursor: pointer;
                        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
                        &:hover {
                            background-color: #ecb201;
                        }
                    }
                    &:last-child {
                        a {
                            color: #00bc87;
                            &:hover {
                                color: #000;
                            }
                        }
                    }
                    &::before {
                        content: "";
                        width: calc(100% + 0.5rem);
                        height: 10px;
                        position: absolute;
                        bottom: -2px;
                        left: -3px;
                        z-index: -1;
                        background-color: #00bc8780;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform .2s ease-in-out;
                    }
                    &:hover {
                        &::before {
                            transform: scaleX(1);
                            transform-origin: left;
                        }
                        .sub-menu {
                            display: block;
                        }
                    }
                    
                    // responsive
                    @media screen and (max-width: 1130px) {
                        margin-left: 1rem;
                    }
                    @media screen and (max-width: 980px) {
                        &:hover {
                            .sub-menu {
                                display: none;
                            }
                        }
                    }
                }
                .book {
                    &:before {
                        display: none;
                    }
                }

                .sub-menu {
                    display: none;
                    position: absolute;
                    top: 36px;
                    background-color: #fff;
                    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
                    padding: 18px 12px;
                    width: 280px;
                    border-radius: 6px;
                    cursor: pointer;
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: -1.4rem;
                        left: -0.75rem;
                        height: calc(100% + 2rem);
                        width: calc(100% + 1.5rem);
                    }
                    .sub-menu-item {
                        position: relative;
                        padding: 14px 16px;
                        border-radius: 6px;
                        margin-top: .75rem;
                        .title {
                            text-transform: capitalize;
                            font-size: 0.875rem;
                            font-weight: 600;
                            margin-bottom: 7px;
                            background-image: linear-gradient(90deg,#00bc87 50%,#282b30 0)!important;
                            background-size: 200%;
                            background-position-x: 100%;
                            -webkit-text-fill-color: transparent;
                            -webkit-background-clip: text;
                            transition: .4s;
                        }
                        .content {
                            color: #282b30;
                            font-size: 0.8125rem;
                            font-weight: 500;
                            line-height: 20px;
                            opacity: .55;
                        }
                        &:nth-child(1) {
                            background: #00bc871a;
                            margin-top: 0;
                        }
                        &:nth-child(2) {
                            .title {
                                background-image: linear-gradient(90deg,#282b30 50%,#00bc87 0)!important;
                            }
                        }
                        &:nth-child(3) {
                            .title {
                                background-image: linear-gradient(90deg,#282b30 50%,#febe3c 0)!important;
                            }
                        }
                        &:nth-child(4) {
                            .title {
                                background-image: linear-gradient(90deg,#282b30 50%,#64cffe 0)!important;
                            }
                        }
                        &:nth-child(5) {
                            .title {
                                background-image: linear-gradient(90deg,#282b30 50%,#576ee7 0)!important;
                            }
                        }
                        &:hover {
                            .title {
                                background-position-x: 0%;
                            }
                        }
                    }
                }
            }
        }

        &.mobile {
            display: none;
            // responsive
            @media screen and (max-width: 980px) {
                display: block;
            }

            button {
                display: flex;
                align-items: center;
                border: none;
                background: none;
                cursor: pointer;
                ion-icon {
                    font-size: 2rem;
                }
                .close {
                    display: none;
                }
            }
        }
    }

    &.active {
        .menu {
            display: block;
        }
        .mobile {
            button {
                .open {
                    display: none;
                }
                .close {
                    display: block;
                }
            }
        }
    }
}

section {
    background-color: #fbfbfb;
    width: 100%;
    height: 700px;
}

