html {
  font-size: 16px;
}

body, a, button {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

header .row {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .col.logo img {
  height: 3.4375rem;
}

@media screen and (max-width: 980px) {
  header .col.menu {
    display: none;
  }
}

header .col.menu .menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .col.menu .menu-wrapper .menu-item {
  position: relative;
  margin-left: 1.5rem;
}

@media screen and (max-width: 1130px) {
  header .col.menu .menu-wrapper .menu-item {
    margin-left: 1rem;
  }
}

header .col.menu .menu-wrapper .menu-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 600;
  color: #000;
}

header .col.menu .menu-wrapper .menu-item a ion-icon {
  margin-left: 6px;
}

@media screen and (max-width: 1130px) {
  header .col.menu .menu-wrapper .menu-item a {
    font-size: 0.85rem;
  }
}

header .col.menu .menu-wrapper .menu-item .btn {
  text-transform: capitalize;
  border: none;
  background-color: #FFC107;
  font-weight: 600;
  color: #fff;
  padding: 7px 14px;
  border-radius: 25px;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
}

header .col.menu .menu-wrapper .menu-item .btn:hover {
  background-color: #ecb201;
}

header .col.menu .menu-wrapper .menu-item:last-child a {
  color: #00bc87;
}

header .col.menu .menu-wrapper .menu-item:last-child a:hover {
  color: #000;
}

header .col.menu .menu-wrapper .menu-item::before {
  content: "";
  width: calc(100% + 0.5rem);
  height: 10px;
  position: absolute;
  bottom: -2px;
  left: -3px;
  z-index: -1;
  background-color: #00bc8780;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

header .col.menu .menu-wrapper .menu-item:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

header .col.menu .menu-wrapper .menu-item:hover .sub-menu {
  display: block;
}

header .col.menu .menu-wrapper .book:before {
  display: none;
}

header .col.menu .menu-wrapper .sub-menu {
  display: none;
  position: absolute;
  top: 36px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
  padding: 18px 12px;
  width: 280px;
  border-radius: 6px;
  cursor: pointer;
}

header .col.menu .menu-wrapper .sub-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: -1.4rem;
  left: -0.75rem;
  height: calc(100% + 2rem);
  width: calc(100% + 1.5rem);
}

header .col.menu .menu-wrapper .sub-menu .sub-menu-item {
  position: relative;
  padding: 14px 16px;
  border-radius: 6px;
  margin-top: .75rem;
}

header .col.menu .menu-wrapper .sub-menu .sub-menu-item .title {
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 7px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #00bc87), color-stop(0, #282b30)) !important;
  background-image: linear-gradient(90deg, #00bc87 50%, #282b30 0) !important;
  background-size: 200%;
  background-position-x: 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-transition: .4s;
  transition: .4s;
}

header .col.menu .menu-wrapper .sub-menu .sub-menu-item .content {
  color: #282b30;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 20px;
  opacity: .55;
}

header .col.menu .menu-wrapper .sub-menu .sub-menu-item:nth-child(1) {
  background: #00bc871a;
  margin-top: 0;
}

header .col.menu .menu-wrapper .sub-menu .sub-menu-item:nth-child(2) .title {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #282b30), color-stop(0, #00bc87)) !important;
  background-image: linear-gradient(90deg, #282b30 50%, #00bc87 0) !important;
}

header .col.menu .menu-wrapper .sub-menu .sub-menu-item:nth-child(3) .title {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #282b30), color-stop(0, #febe3c)) !important;
  background-image: linear-gradient(90deg, #282b30 50%, #febe3c 0) !important;
}

header .col.menu .menu-wrapper .sub-menu .sub-menu-item:nth-child(4) .title {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #282b30), color-stop(0, #64cffe)) !important;
  background-image: linear-gradient(90deg, #282b30 50%, #64cffe 0) !important;
}

header .col.menu .menu-wrapper .sub-menu .sub-menu-item:nth-child(5) .title {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #282b30), color-stop(0, #576ee7)) !important;
  background-image: linear-gradient(90deg, #282b30 50%, #576ee7 0) !important;
}

header .col.menu .menu-wrapper .sub-menu .sub-menu-item:hover .title {
  background-position-x: 0%;
}

header .col.mobile {
  display: none;
}

@media screen and (max-width: 980px) {
  header .col.mobile {
    display: block;
  }
}

header .col.mobile button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

header .col.mobile button ion-icon {
  font-size: 2rem;
}

header .col.mobile button .close {
  display: none;
}

header.active .mobile button .open {
  display: none;
}

header.active .mobile button .close {
  display: block;
}

section {
  background-color: #fbfbfb;
  width: 100%;
  height: 700px;
}
/*# sourceMappingURL=style.css.map */